<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wildswap.wildswapapp">

    <!-- Used by the Google Maps API to download map tiles from Google Maps servers. -->

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Allows the Google Maps API to check the connection status in order to determine whether data can be downloaded. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allows the Google Maps API to cache map tile data in the device's external storage area. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Allows the Google Maps API to use WiFi or mobile cell data (or both) to determine the device's location. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Allows the Google Maps API to use the Global Positioning System (GPS) to determine the device's location to within a very small area. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.wildswap.wildswapapp.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB9TVBZKqC7A2rZn7RRmFbY2eBIEnTM5tc" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ecology_white" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <!-- [END fcm_default_icon] -->

        <activity
            android:name="com.wildswap.wildswapapp.MainActivity_Spinner"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.wildswap.wildswapapp.LogoutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">


        </activity>

        <activity
            android:name="com.wildswap.wildswapapp.SplashActivity"
            android:theme="@style/SplashTheme">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.wildswap.wildswapapp.WelcomeActivity"/>

        <activity
            android:name="com.wildswap.wildswapapp.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.wildswap.wildswapapp.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="com.wildswap.wildswapapp.AddSiteActivity"
            android:label="New Site"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.wildswap.wildswapapp.GiftSiteActivity"
            android:label="Gift Site"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="com.wildswap.wildswapapp.TradeActivitySimple"
            android:label="Trade"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.wildswap.wildswapapp.TradeView"
            android:label="Trade Overview"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.wildswap.wildswapapp.SiteViewerActivity"
            android:label="Owned Site"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.FeaturesActivity"
            android:label="Select Features"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.SiteBuilderActivity"
            android:label="Site Builder"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.ContactUser"
            android:label="Contact User"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.SettingsActivity"
            android:label="Settings"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.SitesActivity"
            android:label="Sites"
            android:theme= "@style/AppTheme.NoActionBar"/>

        <activity android:name="com.wildswap.wildswapapp.TradesActivity"
            android:label="Trades"
            android:theme= "@style/AppTheme.NoActionBar"/>

        <activity android:name="com.wildswap.wildswapapp.TradeHistoryActivity"
            android:label="Trade History"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.ProfileActivity"
            android:label="Profile"
            android:theme= "@style/AppTheme.NoActionBar"/>

        <activity android:name="com.wildswap.wildswapapp.QuizActivity"
            android:label="Quiz"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.CreateProfileActivity"
            android:label="Create Profile"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.ProjectsActivity"
            android:label="Related Projects"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.AcknowledgementsActivity"
            android:label="Acknowledgements"
            android:theme= "@style/AppTheme"/>

        <activity android:name="com.wildswap.wildswapapp.AboutActivity"
            android:label="About"
            android:theme= "@style/AppTheme"/>

        <!-- [START firebase_service] -->
        <service
            android:name="com.wildswap.wildswapapp.firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <!-- [START firebase_iid_service] -->
        <service
            android:name="com.wildswap.wildswapapp.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

    </application>

</manifest>
